@import "../../style.scss";
@import "../../style/colors.scss";

.navbar {
	font-size: 1.15rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw; 
	height: 2.5rem;
	background-color: lighten($bg-color, 5%);
	user-select: none;
	z-index: 1000;
	padding: 0;

	display: flex;
	color: white;
	
	& > ul.links {
		display: flex;
		flex-direction: row;
		list-style-type: none;
		flex: 6;
		margin: 0;
		align-items: center;

		& li {
			z-index: 10;
			text-decoration: none;
			text-transform: uppercase;
			padding-left: .5rem;
			padding-right: .5rem;
			justify-self: stretch;

			&:nth-child(1) {
				transform: translateX(-25%);
			}
		
			& a {

				/* the logo */
				&:nth-child(1) > img {
					max-height: 1rem;
				}

				text-decoration: none;
				font-stretch: expanded;

				&:hover {
					text-decoration: underline;
				}

				&:visited {
					color: inherit;
				}
			}

		}
	}

	& > a.download {
		margin: .3rem;
		flex: 1;
		cursor: pointer;
		position: relative;
		transition: opacity .1s ease-out;
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		background-color: $light-blue;
		border-radius: 5px;

		& > div {
			display: none;
			width: 6rem;
			height: 2rem;
			position: absolute;
			top: 50%;
			left: 50%;
			opacity: 1;
			border: $light-blue solid 1px;
			border-radius: 5px;
			transition: transform .1s ease-out,
			background-color .2s linear,
			border-color .3s linear;

			&:nth-child(1) {
				z-index: -1;
				transform: translate(-50%, -30%);
			}

			&:nth-child(3) {
				z-index: -1;
				transform: translate(-55%, -50%);
				transition-delay: .1s;
			}
		}

		&:hover { 

			text-decoration: none;
			background-color: darken($light-blue, 5%);

			& > div {
				transform: translate(-50%, -50%);
				background-color: $dark-bg;
				border-color: $dark-bg;
			}
		}

		&:active {
			opacity: 0.8;
		}
	}
}
