$bg-color: #0C1824;
$dark-bg: darken($bg-color, 10%);


$light-blue: #1DB9D3;
$lighter-blue: lighten($light-blue, 20%);
$blue: darken($light-blue, 20%);
$dark-blue: darken($light-blue, 40%);
$darker-blue: darken($light-blue, 60%);

$neon-orange: #EF4E22;
