@import "../../style/colors.scss";


.home {
	display: flex;
	margin-top: 2.5rem;

	& > .header {
		width: 100vw;
		height: 25vw;
		display: flex;
		flex-direction: column;
		user-select: none;
		z-index: 10;
		justify-content: center;

		font-size: 1.5rem;

		background-image: url("../../../public/website/images/banner.png"),
		url("https://rukmaksii.githubpages.com/website/images/banner.png");
		background-size: 100%;
		background-repeat: no-repeat;

		display: flex;

		flex-direction: column;

		align-items: center;

		& > div.title {
			display: flex;
			justify-content: center;
			align-items: center;
			& > img {
				max-width: 30%;
			}
		}

		& > span {
			padding-top: .5rem;
			display: block;
		}

		& > a {
			margin: .3rem;
			padding: .2rem .6rem;
			text-decoration: none;
			background-color: $light-blue;
			border-radius: 5px;

			&:visited {
				color: inherit;
			}

			&:hover {
				background-color: darken($light-blue, 5%);
			}

			&:active {
				color: $light-blue;
				background-color: white;
			}

		}
	}
}

